<h1> Class Information </h1>

<h3> Course: <%= @course.name %></h3>

<%= select_tag :version_course_id, options_from_collection_for_select(VersionCourse.all, :id, :start_date), prompt: 'Fechas disponibles'%>

<%= select_tag(:option, options_for_select([['1 seat', 1], ['2 seats', 2], ['3 seats', 3], ['4 seats', 4], ['5 seats', 5]])) %>

<h3> Price per Seat: <%= @version_course.price %></h3>

